@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:ital,wght@0,400;1,200&family=Hanken+Grotesk:wght@500&family=Lexend+Deca&family=Montserrat:wght@500;800&display=swap");

:root {
  /* Primary Colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

/*
    GENERALIZING COMMON REQUIRED STYLES & SHORT CSS RESET
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Big Shoulders Display", cursive;
  font-family: "Fraunces", serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: unset;
  grid-template-rows: auto 30px;

  height: 100vh;

  background: var(--transparent-white);
  overflow: auto;
}

main {
  padding: 60px 20px;
}
.vehicle {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: repeat(3, 1fr);

  overflow: hidden;

  border-radius: 10px;
  max-width: 920px;
}
.cars {
  display: grid;

  padding: 50px;
  height: 440px;
}
.sedan {
  background: var(--bright-orange);
}
.sedan button {
  color: var(--bright-orange);
  border-color: var(--bright-orange);
}
.sedan button:hover {
  color: var(--very-light-gray);
  border-color: var(--very-light-gray);
  background: var(--bright-orange);
}
.suv {
  background: var(--dark-cyan);
}
.suv button {
  color: var(--dark-cyan);
  border-color: var(--dark-cyan);
}
.suv button:hover {
  color: var(--very-light-gray);
  border-color: var(--very-light-gray);
  background: var(--dark-cyan);
}
.luxury {
  background: var(--very-dark-cyan);
}
.luxury button {
  color: var(--very-dark-cyan);
  border-color: var(--very-dark-cyan);
}
.luxury button:hover {
  color: var(--very-light-gray);
  border-color: var(--very-light-gray);
  background: var(--very-dark-cyan);
}
.cars h1 {
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.cars p {
  color: var(--very-light-gray);
  font-family: "Lexend Deca", cursive;
  line-height: 25px;
}
.cars button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  width: 150px;
  height: 50px;
  border-radius: 28px;
  font-size: 15px;
  border: solid 2px;
  font-family: "Lexend Deca", cursive;
  align-self: end;
  /* margin-bottom: 20px; */
}
.cars button:hover {
  text-decoration: none;
  cursor: pointer;
}
.attribution {
  align-self: stretch;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 760px) {
  .vehicle {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
  }
  .cars {
    height: 500px;
  }
}
